.git
.gitignore
README.md
Dockerfile
.dockerignore
docker-compose*.yaml
.env*
*.pyc
*.pyo
*.pyd
__pycache__
.pytest_cache
.coverage
htmlcov
.DS_Store
.vscode
.idea
node_modules
npm-debug.log
.nyc_output
coverage
.grunt
.sass-cache
.cache
logs
*.log
runtime.txt
.env.local
.env.development.local
.env.test.local
.env.production.local
data/
filepond_temp_files/