Django==4.2
djangorestframework
django-filter
django-countries
psycopg2-binary
django-cors-headers
django-drf-filepond
celery[redis]
pysam
sentry-sdk
django-json-widget
elasticsearch-dsl
django-elasticsearch-dsl
django-extensions
ipython
legacy-cgi
django-prometheus
prometheus-client
gunicorn
django-redis
django-jazzmin